<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="category" content="自傳"> -->
    <title>About Me - Carlos Blog</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/emoji-picker-element/dist/emoji-picker-element.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="module" src="https://unpkg.com/emoji-picker-element"></script>
    <!-- 使用Firebase 9+的SDK -->
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
        import { getFirestore } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-firestore.js";
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyApCGitlToCu3oi_Owoi2cUqjpH1BPIEfY",
            authDomain: "carlosblogcomment.firebaseapp.com",
            projectId: "carlosblogcomment",
            storageBucket: "carlosblogcomment.appspot.com",
            messagingSenderId: "445901511837",
            appId: "1:445901511837:web:c8eb760e3219f6e2dbc874",
            measurementId: "G-N0RFZX5X8C"
        };
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        // Initialize Firestore
        const db = getFirestore(app);
    </script>
</head>
<body>
    <div>
        <header>
            <div class="top">
                <h1><a href="/">Carlos Blog</a></h1>
            </div>
            <div class="menu">
                <ul>
                    <li ><a href="about_me.html">About</a></li>
                    <li><a href="archive.html">Archive</a></li>
                </ul>
                <div class="search-container">
                    <input type="text" class="search-box" placeholder="Search">
                    <button class="search-button"><i class='bx bx-search' ></i></button>
                </div>
            </div>
        </header>
        <main>
            <div class="outer">
                <div class="profile-container" id="profileApp">
                    <aside id="profile">
                        <div class="image">
                            <img :src="image" alt="photo-me" class="profile-img">
                        </div>
                        <div class="text-data">
                            <span class="name">{{ name }}</span>
                            <span class="other">{{ other }}</span>
                        </div>
                        <div class="media-buttons">
                            <a v-for="link in links" :href="link.url" :style="link.style" class="link">
                                <i :class="link.icon"></i>
                            </a>
                        </div>
                        <div class="analytics">
                            <div class="data" v-for="data in analytics">
                                <i :class="data.icon"></i>
                                <span id="postCount">{{ data.count }}</span>
                            </div>
                        </div>
                    </aside>
                </div>
                <section id="post">
                    <article class="post-content">
                        <header class="article-header">
                            <h1>
                                <a href="#" class="article-header-a">About Me</a>
                            </h1>
                            <div class="article-meta">
                                <div class="article-date">
                                    <i class='bx bx-calendar'></i>
                                    <time datetime="2024-06-04 18:00:00 +0800 CST" itemprop="datePublished">2024-06-04</time>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-folder'></i>
                                    <a href="list.html?category=自傳" class="article-category-link">自傳</a>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-purchase-tag'></i>
                                    <a href="#" class="article"></a>
                                </div>
                            </div>
                        </header>
                        <div class="article-entry" itemprop="articleBody">
                            <pre>
<h3>使用流程</h3>1. 登記使用者、信箱 
                            </pre>
                        </div>
                        <footer class="article-content-footer">
                            <a href="" data-id="" id="copybutton-article" class="article-copy-link">
                                <i class='bx bx-copy'></i>
                                CopyLink
                            </a>
                        </footer>
                    </article>
                    <section id="prev-next">
                        <div class="prev-container">
                            <div class="prev-button" href="">
                                <!-- <span>
                                &lt; 上一篇<br>
                                ""
                                </span> -->
                            </div>
                        </div>
                        <div class="next-container">
                            <a class="next-button" href="/post_20240605.html">
                                <span>
                                下一篇 ><br>
                                <span class="title">Git 指令筆記</span>
                                </span>
                            </a>
                        </div>
                    </section>
                    <section id="comments">
                        <div class="comments-header">
                            <div class="comments-count">
                                <span id="commentCount">{{ commentCount }}</span>則留言
                            </div>
                        </div>
                        <div class="comments-input-container">
                            <form action="#" class="comments-input-form">
                                <div class="comments-input-form-avatar">
                                    <img src="images/avatar.jpg" alt=""></img>
                                    <span class="comments-input-username">user</span>
                                    <button id="signInOutButton">登入</button>
                                </div>
                                <div class="comments-input-form-item"></div>
                                <textarea name="comment" id="comment" placeholder="登入後發表留言..."></textarea>
                                <div class="emoji-and-submit">
                                    <button class="emoji-button">😄</button>
                                    <div id="emoji-picker-container" style="position: absolute; bottom: 0px; right: 0px; display: none;">
                                        <emoji-picker></emoji-picker>
                                    </div>
                                    <div class="submit-group">
                                        <button class="comments-cancel-button">取消</button>
                                        <button id="submitComment" class="comments-submit-button">送出</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="comments-content">
                            <div class="comments-content-item">
                                <div class="comments-content-item-text">
                                    <div class="comment">
                                        <p>留言區讀取中或伺服器已暫停運作</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!--留言區-->
                    </section>
                </section>
                <div class="sidebar-container" id="siderApp">
                    <aside class="sidebar">
                        <h3 class="widget-title">Categories</h3>
                        <ul class="category-list">
                            <li v-for="category in categories" :key="category.name" class="category-list-item">
                                <a :href="category.link" class="category-list-link">{{ category.name }}</a><span></span>
                            </li>
                        </ul>
                    </aside>
                    <aside id="tag-library">
                        <h3 class="tag-title">Tags</h3>
                        <div class="tags">
                            <a v-for="tag in tags" :key="tag.name" :href="tag.link">{{ tag.name }}</a>
                        </div>
                    </aside>
                </div>
            </div>
            <footer id="footer">© 2024 Carlos</footer>
        </main>
    </div>
    <script src="js/app.js"></script>
    <button id="to-prev-next"><i class='bx bx-chevron-down bx-md'></i></button>
</body>
</html>