<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carlos Blog</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body class="home-page">
    <div>
        <header>
            <div class="top">
                <h1><a href="/">Carlos Blog</a></h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="about_me.html">About</a></li>
                    <li><a href="archive.html">Archive</a></li>
                </ul>
                <form class="search-container" action="https://www.google.com/search" method="get" target="_blank">
                    <input type="hidden" name="q" value="site:https://carlos8881.github.io/BlogProject/">
                    <input type="text" name="q" class="search-box" placeholder="Search">
                    <button type="submit" class="search-button"><i class='bx bx-search'></i></button>
                </form>
            </div>
        </header>
        <main>
            <div class="outer">
                <div class="profile-container" id="profileApp">
                    <aside id="profile">
                        <div class="image">
                            <img :src="image" alt="photo-me" class="profile-img">
                        </div>
                        <div class="text-data">
                            <span class="name">{{ name }}</span>
                            <span class="other">{{ other }}</span>
                        </div>
                        <div class="media-buttons">
                            <a v-for="link in links" :href="link.url" :style="link.style" class="link">
                                <i :class="link.icon"></i>
                            </a>
                        </div>
                        <div class="analytics">
                            <div class="data" v-for="data in analytics">
                                <i :class="data.icon"></i>
                                <span id="postCount">{{ data.count }}</span>
                            </div>
                        </div>
                    </aside>
                </div>

                <section id="post">
                    

                    <article class="posts">
                        <header class="article-header">
                            <h1>
                                <a href="post_20240607.html" class="article-header-a">Git flow 文章連結</a>
                            </h1>
                            <div class="article-meta">
                                <div class="article-date">
                                    <i class='bx bx-calendar'></i>
                                    <time datetime="2024-06-04 18:00:00 +0800 CST" itemprop="datePublished">2024-06-04</time>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-folder'></i>
                                    <a href="list.html?category=好文連結" class="article-category-link">好文連結</a>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-purchase-tag'></i>
                                    <a href="list.html?tag=Git" class="article">Git</a>
                                </div>
                            </div>
                        </header>
                        <div class="article-entry" itemprop="articleBody">
                            <p> 
                                1 <br>
                                2
                            </p>
                            <p class="article-more-link">
                                <a href="post_20240607.html">Read more</a>
                            </p>
                        </div>
                        <footer class="article-footer">
                            <a href="" class="article-comment-link">
                                <i class='bx bx-message-rounded-dots' ></i>
                                Comments
                            </a>
                        </footer>
                    </article>

                    <article class="posts">
                        <header class="article-header">
                            <h1>
                                <a href="post_20240606.html" class="article-header-a">ChatGPT 技巧筆記</a>
                            </h1>
                            <div class="article-meta">
                                <div class="article-date">
                                    <i class='bx bx-calendar'></i>
                                    <time datetime="2024-06-04 18:00:00 +0800 CST" itemprop="datePublished">2024-06-04</time>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-folder'></i>
                                    <a href="list.html?category=筆記" class="article-category-link">筆記</a>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-purchase-tag'></i>
                                    <a href="list.html?tag=AI" class="article">AI</a>
                                </div>
                            </div>
                        </header>
                        <div class="article-entry" itemprop="articleBody">
                            <p>使用流程 1. 登記使用者、信箱 2. 初始化 3. 將要更改的檔案加入暫存區 4. 檢查差異(可跳過) 5. 提交......
                                </p>
                            <p class="article-more-link">
                                <a href="post_20240606.html">Read more</a>
                            </p>
                        </div>
                        <footer class="article-footer">
                            <a href="" class="article-comment-link">
                                <i class='bx bx-message-rounded-dots' ></i>
                                Comments
                            </a>
                        </footer>
                    </article>

                    <article class="posts">
                        <header class="article-header">
                            <h1>
                                <a href="post_20240605.html" class="article-header-a">Git 指令筆記</a>
                            </h1>
                            <div class="article-meta">
                                <div class="article-date">
                                    <i class='bx bx-calendar'></i>
                                    <time datetime="2024-06-04 18:00:00 +0800 CST" itemprop="datePublished">2024-06-04</time>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-folder'></i>
                                    <a href="list.html?category=筆記" class="article-category-link">筆記</a>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-purchase-tag'></i>
                                    <a href="list.html?tag=Git" class="article">Git</a>
                                </div>
                            </div>
                        </header>
                        <div class="article-entry" itemprop="articleBody">
                            <p>使用流程 1. 登記使用者、信箱 2. 初始化 3. 將要更改的檔案加入暫存區 4. 檢查差異(可跳過) 5. 提交......
                                </p>
                            <p class="article-more-link">
                                <a href="post_20240605.html">Read more</a>
                            </p>
                        </div>
                        <footer class="article-footer">
                            <a href="" class="article-comment-link">
                                <i class='bx bx-message-rounded-dots' ></i>
                                Comments
                            </a>
                        </footer>
                    </article>

                    <article class="posts">
                        <header class="article-header">
                            <h1>
                                <a href="about_me.html" class="article-header-a">About Me</a>
                            </h1>
                            <div class="article-meta">
                                <div class="article-date">
                                    <i class='bx bx-calendar'></i>
                                    <time datetime="2024-06-04 18:00:00 +0800 CST" itemprop="datePublished">2024-06-04</time>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-folder'></i>
                                    <a href="list.html?category=自傳" class="article-category-link">自傳</a>
                                </div>
                                <div class="article-category">
                                    <i class='bx bx-purchase-tag'></i>
                                    <a href="#" class="article"></a>
                                </div>
                            </div>
                        </header>
                        <div class="article-entry" itemprop="articleBody">
                            <p>
                                關於我...... <br>
                                2
                            </p>
                            <p class="article-more-link">
                                <a href="about_me.html">Read more</a>
                            </p>
                        </div>
                        <footer class="article-footer">
                            <a href="" class="article-comment-link">
                                <i class='bx bx-message-rounded-dots' ></i>
                                Comments
                            </a>
                        </footer>
                    </article>
                </section>

                <div class="sidebar-container" id="siderApp">
                    <aside class="sidebar">
                        <h3 class="widget-title">Categories</h3>
                        <ul class="category-list">
                            <li v-for="category in categories" :key="category.name" class="category-list-item">
                                <a :href="category.link" class="category-list-link">{{ category.name }}</a><span></span>
                            </li>
                        </ul>
                    </aside>
                    <aside id="tag-library">
                        <h3 class="tag-title">Tags</h3>
                        <div class="tags">
                            <a v-for="tag in tags" :key="tag.name" :href="tag.link">{{ tag.name }}</a>
                        </div>
                    </aside>
                </div>
            </div>
            <footer id="footer">© 2024 Carlos</footer>

        </main>
    </div>
    <script src="js/app.js"></script>
</body>
</html>