<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" contnet="width=device-width, initial-scale=1.0">
        <title>初識CI/CD - Carlos Blog</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://unpkg.com/emoji-picker-element/dist/emoji-picker-element.css" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script type="module" src="https://unpkg.com/emoji-picker-element"></script>
        <!-- 使用Firebase 9+的SDK -->
        <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>
        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
            import { getFirestore } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-firestore.js";
            // Your web app's Firebase configuration
            const firebaseConfig = {
                apiKey: "AIzaSyApCGitlToCu3oi_Owoi2cUqjpH1BPIEfY",
                authDomain: "carlosblogcomment.firebaseapp.com",
                projectId: "carlosblogcomment",
                storageBucket: "carlosblogcomment.appspot.com",
                messagingSenderId: "445901511837",
                appId: "1:445901511837:web:c8eb760e3219f6e2dbc874",
                measurementId: "G-N0RFZX5X8C"
            };
            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const analytics = getAnalytics(app);
            // Initialize Firestore
            const db = getFirestore(app);
        </script>
    </head>
    <body id="app">
        <div >
            <header>
                <div class="top">
                    <h1><a href="index.html">Carlos Blog</a></h1>
                </div>
                <div class="menu">
                    <ul>
                        <li ><a href="about_me.html">About</a></li>
                        <li><a href="archive.html">Archive</a></li>
                    </ul>
                    <div class="search-container">
                        <input type="text" class="search-box" placeholder="Search">
                        <button class="search-button"><i class='bx bx-search' ></i></button>
                    </div>
                </div>
            </header>
            <main>
                <div class="outer">
                    <div class="profile-container" id="profileApp">
                        <aside id="profile">
                            <div class="image">
                                <img :src="image" alt="photo-me" class="profile-img">
                            </div>
                            <div class="text-data">
                                <span class="name">{{ name }}</span>
                                <span class="other">{{ other }}</span>
                            </div>
                            <div class="media-buttons">
                                <a v-for="link in links" :href="link.url" :style="link.style" class="link">
                                    <i :class="link.icon"></i>
                                </a>
                            </div>
                            <div class="analytics">
                                <div class="data" v-for="data in analytics">
                                    <i :class="data.icon"></i>
                                    <span id="postCount">{{ data.count }}</span>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <section id="post">
                        <article class="post-content">
                            <header class="article-header">
                                <h1>
                                    <a href="#" class="article-header-a">初識CI/CD</a>
                                </h1>
                                <div class="article-meta">
                                    <div class="article-date">
                                        <i class='bx bx-calendar'></i>
                                        <time datetime="2024-06-04 18:00:00 +0800 CST" itemprop="datePublished">2024-07-11</time>
                                    </div>
                                    <div class="article-category">
                                        <i class='bx bx-folder'></i>
                                        <a href="list.html?category=筆記" class="article-category-link">筆記</a>
                                    </div>
                                    <div class="article-category">
                                        <i class='bx bx-purchase-tag'></i>
                                        <a href="list.html?tag=Devops" class="article">Devops</a>
                                    </div>
                                </div>
                            </header>
                            <div class="article-entry" itemprop="articleBody">
<pre>
這邊是以我在網上找的資料做得粗淺的解釋，其中有許多細節我也還沒有太多瞭解，
待以後有更多經驗再來補充。

CI/CD是什麼?
CI中文翻譯就是持續整合，CD中文翻譯就是持續部署，
有得人解釋得更明白:那就是自動化整合/部屬。

例如在沒有CI/CD的情況下，開發者在寫完程式碼後，
1.本機測試正常運作(整合或是單元測試)
2.專案上傳到公司測試主機測試: a.手動複製 b.FTP c.其他
3.公司主機測試，正常運作沒問題
4.給客戶測試
這樣的流程會花費多一點時間，但容易出錯。

這次假設有CI/CD的情況下，開發者在寫完程式碼後，
1.本機測試整合或是單元測試後正常運作
2.專案push到Git平台
3.公司測試主機安裝CI/CD工具，例如Jenkins(隨時偵測有沒有新的commit)，
  並且把新檔案抓到測試主機的暫存資料夾
4.Jenkins會編譯專案，並自動執行單元測試，測試成功把新專案放入檔案的資料夾
5.CI/CD完成，自動通知成功或失敗
6.收到通知後到公司主機測試，正常運作沒問題
7.給客戶測試

其實就是差在複製到測試主機的動作，CI/CD可以自動化部屬，在經常更新的專案，
使用CI/CD可以節省很多時間，也可以減少人為的錯誤。
</pre>
                            </div>
                            <footer class="article-content-footer">
                                <a href="" data-id="" id="copybutton-article" class="article-copy-link">
                                    <i class='bx bx-copy'></i>
                                    CopyLink
                                </a>
                            </footer>
                        </article>
                        <section id="prev-next">
                            <div class="prev-container">
                                <a class="prev-button" href="post_20240607.html">
                                    <span>
                                    &lt; 上一篇<br>
                                    <span class="title">Git flow 文章連結</span>
                                    </span>
                                </a>
                            </div>
                            <div class="next-container">
                                <div class="next-button" href="">
                                    <span>
                                    <br>
                                    <span class="title"></span>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <section id="comments">
                            <div class="comments-header">
                                <div class="comments-count">
                                    <span id="commentCount">{{ commentCount }}</span>則留言
                                </div>
                            </div>
                            <div class="comments-input-container">
                                <form action="#" class="comments-input-form">
                                    <div class="comments-input-form-avatar">
                                        <img src="images/avatar.jpg" alt=""></img>
                                        <span class="comments-input-username">user</span>
                                        <button id="signInOutButton">登入</button>
                                    </div>
                                    <div class="comments-input-form-item"></div>
                                    <textarea name="comment" id="comment" placeholder="登入後發表留言..."></textarea>
                                    <div class="emoji-and-submit">
                                        <button class="emoji-button">😄</button>
                                        <div id="emoji-picker-container" style="position: absolute; bottom: 0px; right: 0px; display: none;">
                                            <emoji-picker></emoji-picker>
                                        </div>
                                        <div class="submit-group">
                                            <button class="comments-cancel-button">取消</button>
                                            <button id="submitComment" class="comments-submit-button">送出</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="comments-content">
                                <div class="comments-content-item">
                                    <div class="comments-content-item-text">
                                        <div class="comment">
                                            <p>留言區讀取中或伺服器已暫停運作</p>
                                        </div>
                                    </div>
                                </div>
                            </div> <!--留言區-->
                        </section>
                    </section>
                    <div class="sidebar-container" id="siderApp">
                        <aside class="sidebar">
                            <h3 class="widget-title">Categories</h3>
                            <ul class="category-list">
                                <li v-for="category in categories" :key="category.name" class="category-list-item">
                                    <a :href="category.link" class="category-list-link">{{ category.name }}</a><span></span>
                                </li>
                            </ul>
                        </aside>
                        <aside id="tag-library">
                            <h3 class="tag-title">Tags</h3>
                            <div class="tags">
                                <a v-for="tag in tags" :key="tag.name" :href="tag.link">{{ tag.name }}</a>
                            </div>
                        </aside>
                    </div>
                </div>
                <footer id="footer">© 2024 Carlos</footer>
            </main>
        </div>
        <script src="js/app.js"></script>
        <button id="to-prev-next"><i class='bx bx-chevron-down bx-md'></i></button>
    </body>
</html>