@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap'); 

* {
    font-family: "Noto Sans TC", sans-serif; /* 設定所有元素的字體為 Noto Sans TC */
    padding: 0; /* 移除所有元素的內邊距 */
    margin: 0; /* 移除所有元素的外邊距 */
    box-sizing: border-box; /* 設置 box-sizing 為 border-box，確保內邊距和邊框包含在元素的總寬度和高度內 */
}
a{
    text-decoration: none;
}
body {
    background-color: rgb(24, 28, 30); /* 設定網頁背景色為深灰色 */
    color: rgb(235, 235, 235); /* 設定文本顏色為淺灰色 */
}
header {
    width: 100%; /* 設置 header 寬度為 100% */
    padding: 0; /* 設置 header 的內邊距為上下 10px，左右 20px */
    background-color: rgb(40, 44, 46); /* 設定 header 背景色為較深的灰色 */
}
header .top {
    display: grid;
    place-items: center;     
    height: 160px;
    background-image: url(./top-image.jpg);
    background-size: cover;
    background-position: center;
}
header .top h1 a {
    color: rgb(235, 235, 235); /* 設置 h1 標題的連結顏色為淺灰色 */
    font-size: 54px;
    text-decoration: none; /* 移除連結的下劃線 */
}
.menu {
    display: flex; /* 設置 .menu 為彈性盒子布局 */
    justify-content: space-between; /* 將 .menu 內的項目兩端對齊，間距均等 */
    align-items: center; /* 將 .menu 內的項目垂直居中對齊 */
    padding: 10px 18%; /* 設置 .menu 的內邊距為上下 10px */
}
header .menu ul {
    list-style: none; /* 移除 ul 的列表樣式 */
    display: flex; /* 設置 ul 為彈性盒子布局 */
    gap: 20px; /* 設置 ul 內項目之間的間距為 20px */
}
header .menu ul li a {
    color: rgb(235, 235, 235); /* 設置 ul 內的連結顏色為淺灰色 */
    text-decoration: none; /* 移除連結的下劃線 */
}
header .menu ul li a:hover {
    color: rgb(128, 149, 173); /* 設置 ul 內的連結顏色為淺灰色 */
    text-decoration: none; /* 移除連結的下劃線 */
}
header .search-container {
    display: flex; /* 設置 .search-container 為彈性盒子布局 */
    align-items: center; /* 將 .search-container 內的項目垂直居中對齊 */
    position: relative;
}
header .search-box {
    margin: 0;
    padding-left: 15px;
    border: 0;
    outline: 0;
    height: 36px;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border-radius: 20px 20px 20px 20px;
}
header .search-button {
    border: none;
    cursor: pointer;
    margin-top: 0px;
    background: none;
    position: absolute;
    right: 10px;
    font: 24px font-icon;
}
header .search-button i {
    font-size: 20px; /* 設置 .search-button 內圖標的字體大小為 16px */
}
main .outer {
    display: flex; /* 設置 .outer 為彈性盒子布局 */
    justify-content: center; /* 將 .outer 內的項目兩端對齊，間距均等 */
    align-items: flex-start; /* 將 .outer 內的項目頂部對齊 */
    padding: 20px; /* 設置 .outer 的內邊距為 20px */
    margin: 0 14%; /* 設置 .outer 的外邊距為左右各 16% */
}
aside {
    background-color: rgb(40, 44, 46); /* 設置 aside 和 section 的背景色為較深的灰色 */
    padding: 20px; /* 設置 aside 和 section 的內邊距為 20px */
    border-radius: 8px; /* 設置 aside 和 section 的圓角為 8px */
}
article {
    background-color: rgb(40, 44, 46); /* 設置 aside 和 section 的背景色為較深的灰色 */
    padding: 20px; /* 設置 aside 和 section 的內邊距為 20px */
    border-radius: 8px; /* 設置 aside 和 section 的圓角為 8px */
}
.profile-container {
    flex: 1;
}
#profile {
    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.posts {
    height: 280px;
    width: 700px; /* 设置贴文区块的固定宽度 */
    margin-bottom: 20px;
    position: relative; /* 確保 .post 元素相對定位 */
}
article.post-content {
    width: 700px; /* 设置贴文区块的固定宽度 */
    margin-bottom: 20px;
    position: relative; /* 確保 .post 元素相對定位 */
}
article.post-content a:visited{
    color: rgb(235, 235, 235);
}
article.post-content a:link {
    color: rgb(235, 235, 235); /* 設定未訪問連結的顏色為藍色 */
}
div.post-content {
    width: 700px; /* 设置贴文区块的固定宽度 */
    margin-bottom: 20px;
    position: relative; /* 確保 .post 元素相對定位 */
}
.sidebar-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 20px;
}
.image {
    position:relative;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(230, 230, 230);
}
.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .other {
    font-size: 15px;
    font-weight: 400;
}
.media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 9px;
    background-color: white;
    text-decoration: none;
}
.buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.buttons .button {
    color: black;
    font-size: 14px;
    font-weight:400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 14px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 94px;
}
.buttons .button:hover {
    background-color: rgb(128, 149, 173);
}
.analytics {
    color: white;
}
.analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytics .data {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 2px solid ;
}
.data i {
    font-size: 18px;
    margin-right: 6px;
}
.data:last-child {
    border-right: none;
}
.article.posts {
    display: flex;
}
.article-header h1 {
    display: flex;
    font-size: 28px;
    color: rgb(235, 235, 235);
    margin-bottom: 10px;
}
.article-header a {
    text-decoration: none;
    color: rgb(235, 235, 235);
}
.article-header h1 a:visited{
    color: rgb(235, 235, 235);
}
.article-meta {
    display: flex;
    color: rgb(235, 235, 235);
    font-size: 15px;
    margin-bottom: 20px;
}
.article-category a:visited  {
    color: rgb(235, 235, 235);
}
.article-date {
    margin-right: 8px;
}
.article-category {
    margin-right: 8px;
}
.article-category a {
    text-decoration: none;
    color: rgb(235, 235, 235);
}
.article-entry {
    margin-bottom: 30px;
}
.article-more-link {
    margin-top: 25px;
    margin-bottom: 1px;
    color: white;
}
.article-entry .article-more-link a {
    color: rgb(235, 235, 235);
    font-size: 14px;
    font-weight:400;
    border: none;
    border-radius: 24px;
    margin: 0px;
    padding: 2px 14px;
    background-color: rgb(56, 77, 104);
    margin-bottom: 1px;
}
.article-more-link a:visited {
    color: rgb(235, 235, 235);
}
.article-more-link a {
    font-size: 14px;
}
.article-footer {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 20px;
    bottom: 20px; /* 將元素定位到底部 */
}
.article-content-footer {
    display: flex;
    flex-direction: row-reverse;
}
.article-footer a {
    color: rgb(235, 235, 235);
}
.article-content-footer a {
    color: rgb(235, 235, 235);
}
.article-share-link {
    margin-left: 20px;
}
.article-copy-link {
    margin-left: 20px;
}
 .copybutton-article {
    margin-left: 20px;
 }
.copied-alert {
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    background-color:black ;
    color:white;
    padding:10px;
    border-radius:5px;
}
#prev-next {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.prev-container {
    margin-right: 20px;
}
.next-container{
    margin-left: 20px;
}
.prev-button {
    color: rgb(235, 235, 235);
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.prev-button span {
    text-align: right;
}
.next-button {
    color: rgb(235, 235, 235);
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.next-button span{
    text-align: left;
}
#to-prev-next {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    padding: 4px 4px;
    background-color:rgb(40, 44, 46);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5); /* 添加阴影 */
}
#comments{
    margin-bottom: 20px;
    background-color: rgb(40, 44, 46); /* 設置 aside 和 section 的背景色為較深的灰色 */
    padding: 20px; /* 設置 aside 和 section 的內邊距為 20px */
    border-radius: 8px; /* 設置 aside 和 section 的圓角為 8px */
}
textarea#comment {
    color: rgb(235, 235, 235);
    background-color:rgb(26, 26, 26);
    font-size: 16px;
    width: 660px;
    height: 200px;
    margin-bottom: 6px;
    border: none;
    padding: 10px;
    outline: none;
    resize: none;
}
.comments-input-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comments-input-username{
    align-self: center;
    margin-left: 10px;
}
.comments-input-form-avatar {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comments-input-form-avatar button {
    margin-left: auto;
}
.comments-input-form-avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.emoji-button {
    width: 36px;
    height: 36px;
    font-size: 16px;
    border: 0px;
    border-radius: 28px;
    background-color: rgb(40, 44, 46);
}
button#signInOutButton{
    width: 60px;
    height: 36px;
    font-size: 14px;
    border: none;
    border-radius: 28px;
    color: rgb(235, 235, 235);
    background-color: rgb(40, 44, 46);
    margin-right: 4px;
}
button#signInOutButton:hover {
    background-color: rgb(77, 80, 82);
}
.comments-cancel-button {
    width: 60px;
    height: 36px;
    font-size: 14px;
    border: none;
    border-radius: 28px;
    color: rgb(235, 235, 235);
    background-color: rgb(40, 44, 46);
    margin-right: 4px;
}
.comments-cancel-button:hover {
    background-color: rgb(77, 80, 82);
}
.emoji-and-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.emoji-button:hover {
    background-color: rgb(77, 80, 82);
}
.comments-submit-button {
    width: 60px;
    height: 36px;
    font-size: 14px;
    border: none;
    border-radius: 28px;
    color: rgb(235, 235, 235);
    background-color: rgb(40, 44, 46);
}
.comments-submit-button:hover {
    background-color: rgb(77, 80, 82);
}
/* 表情选择器样式 */
#emoji-picker-container {
    width: 350px; /* 调整为实际 emoji-picker 的宽度 */
    height: 280px; /* 调整为实际 emoji-picker 的高度 */
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
emoji-picker {
    border: none;
    max-width: 350px; /* 或根据您的布局需要调整宽度 */
    max-height: 280px; /* 调整高度以适应页面布局 */
    overflow-y: auto; /* 如果内容超出高度，允许滚动 */
}
.comments-content-item{
    display: flex;
    margin-bottom: 20px;
}
.comments-content .comment {
    display: flex;
    margin-bottom: 20px;
}
.comments-content .comment img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.comments-content .comment .guest-name{
    font-size: 16px;
    color: rgb(235, 235, 235);
    margin-left: 14px;
}
.comments-content .comment .guest-date{
    font-size: 12px;
    color: rgb(175, 175, 175);
    margin-left: 10px;
}
.comments-content .comment .guest-comments-content{
    font-size: 14px;
    color: rgb(235, 235, 235);
    margin-left: 14px;

}
.comments-content-item-avatar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.comments-content-item-text {
    margin-left: 14px;
}
.comments-content-item-text-header {
    font-size: 16px;
    color: rgb(235, 235, 235);
    margin-bottom: 4px;
}
.comments-content-item-text-header-date {
    font-size: 12px;
    color: rgb(175, 175, 175)
}
.comments-content-item-text-content {
    font-size: 14px;
    color: rgb(235, 235, 235);
}
/* 设置侧边栏标题样式 */
.widget-title {
    color: #ffffff; /* 设置标题颜色 */
    margin-bottom: 20px;
}
/* 设置分类列表的样式 */
.category-list {
    list-style: none; /* 移除列表的默认样式 */
    padding: 0px;
}

/* 设置分类列表项的样式 */
.category-list-item {
    margin-bottom: 20px; /* 设置每个列表项的底部边距 */
}

/* 设置分类列表链接的样式 */
.category-list-link {
    text-decoration: none; /* 移除链接的下划线 */
    color: #ffffff; /* 设置链接颜色 */
    position: relative; /* 设置相对定位以便添加伪元素 */
    padding-left: 20px; /* 设置左侧内边距以便显示箭头 */
    display: inline-block; /* 将链接设置为块级元素以便调整位置 */
}

/* 在链接左侧添加箭头 */
.category-list-link::before {
    content: '\25B6'; /* 使用 Unicode 字符表示向右的三角形箭头 */
    position: absolute; /* 绝对定位 */
    left: 6px; /* 左对齐 */
    top: 50%; /* 垂直居中 */
    transform: translateY(-50%); /* 调整箭头位置使其垂直居中 */
    color: #ffffff; /* 设置箭头颜色 */
    font-size: 8px; /* 设置箭头大小 */
}
#tag-library {
    margin-top: 20px;
}
#tag-library .tags a {
    display: inline-block;
    text-decoration: none;
    color: rgb(235, 235, 235);
    font-size: 14px;
    margin: 4px 8px 0px 0px;
}
section#post .categories_option a{
    color: rgb(235, 235, 235);
}
section#post .categories_option a:visited{
    color: rgb(235, 235, 235);
}
footer#footer {
    display: flex;
    justify-content: center;
    margin:20px 0px;
}

/* 小於 768px 的裝置 */
@media (max-width: 768px) {
    header .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .profile-container {
        margin-bottom: 20px;
        width: 100%;
    }

    #profile {
        margin-right: 0;
        display: none;
    }

    .home-page #profile {
        display: flex;
    }

    .posts {
        height: 320px;
    }

    #post {
        width: 100%;
    }

    article.post-content {
        width: 100%;
    }
    
    pre {
        white-space: pre-wrap; /* 保留空白符並允許內容自動換行 */
        overflow-x: auto; /* 添加水平滾動條以處理超出容器的內容 */
        word-break: break-word; /* 斷開過長的單詞以避免溢出 */
    }

    .menu, .sidebar-container {
        flex-direction: column;
        align-items: center;
    }

    header .menu ul {
        margin-bottom: 10px;
        gap: 8px;
    }

    main .outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 10px; /* 調整外邊距為 10px */
    }

    .posts, div.post-content {
        width: 100%; /* 調整寬度為 100% 以適應較小的螢幕 */
    }

    #prev-next span .title{
        font-size: 14px;
    }

    .sidebar-container{
        margin-left: 0px;
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    #tag-library {
        width: 100%;
    }

    .buttons .button, .article-entry .article-more-link a {
        width: auto; /* 讓按鈕的寬度自適應 */
    }

    #comments #comment {
        width: 100%; /* 讓留言框的寬度自適應 */
    }

}

/* 768px 至 1024px 的裝置 */
@media (min-width: 768px) and (max-width: 1024px) {
    header .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .profile-container {
        margin-bottom: 20px;
        width: 100%;
    }

    #profile {
        margin-right: 0;
        display: none;
    }

    .home-page #profile {
        display: flex;
    }

    .posts {
        height: 320px;
    }

    #post {
        width: 100%;
    }

    article.post-content {
        width: 100%;
    }
    
    pre {
        white-space: pre-wrap; /* 保留空白符並允許內容自動換行 */
        overflow-x: auto; /* 添加水平滾動條以處理超出容器的內容 */
        word-break: break-word; /* 斷開過長的單詞以避免溢出 */
    }

    .menu, .sidebar-container {
        flex-direction: column;
        align-items: center;
    }

    header .menu ul {
        margin-bottom: 10px;
        gap: 8px;
    }

    main .outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 10px; /* 調整外邊距為 10px */
    }

    .posts, div.post-content {
        width: 100%; /* 調整寬度為 100% 以適應較小的螢幕 */
    }

    #prev-next span .title{
        font-size: 14px;
    }

    .sidebar-container{
        margin-left: 0px;
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    #tag-library {
        width: 100%;
    }

    .buttons .button, .article-entry .article-more-link a {
        width: auto; /* 讓按鈕的寬度自適應 */
    }

    #comments #comment {
        width: 100%; /* 讓留言框的寬度自適應 */
    }

}
